body {
	font-family: 'Chakra Petch', 'Noto Sans JP', 'sans-serif';
	font-size: 20px;
	background: whitesmoke;
}
* {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: bold;
  }
  
  nav ul li a {
    color: #724b8b;
    text-decoration: none;    
    color: black;
  }
  
  nav ul li a:hover {
    color: deeppink;
  }
h1 {
    padding-bottom: 25px;
}
  .section {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  
  .menu {
    height: 75px;
    text-align: right;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background: #ffeee6;    
    box-shadow: 0 0 4px rgba(0,0,0,.55);
  } 

  .intro {
      top: 0;
      min-height: 100vh;
      padding-top: 75px;
  }

.main-content{
    max-width: 1200px;
    min-width: 260px;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 50px;

}
.img-profile {
    margin-top: 150px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-profile:hover {
  transform: scale(.99);
}
* {box-sizing:border-box}
.wrapper {
    max-width: 100%;
    margin: auto;
    color: #000;    
    border-radius: 10px;
}
.wrapper > .featured,
.wrapper > .main-content{
    padding: 20px;    
    border-radius: 10px;    
}
/* .featured {
    grid-area: featuredMain;
    min-height: 500px;
    background: url(/img/laptop.jpg) no-repeat center;
    background-size: 100%;
    display: grid;
    align-content: flex-end;
    color: #000;
}
.featured h1{
    font-size: :36px;
    max-width:650px;
}
.featured h1:hover {
  transform: scale(.99);
}
.featured a{
    text-decoration: none;
    color: #000;
} */
.anchor {
    margin-top: -85px;
    padding-top: 85px;
}
.main-contentProjects, .main-content, .featured, #carousel {
    max-width: 1200px;
    display: block;
    padding: 50px;
    margin: auto;
    grid-area: contentMain;
    background-color: rgba(255, 255, 255, .35);
    color: #444;
    text-align: justify !important;
    line-height: 1.5em;

    border-radius: 10px;
    /*shadow-box*/
    box-shadow: 0 0 4px rgba(0,0,0,.55);
}
.footer {
    display: grid;    
    border-radius: 10px;
    background: linear-gradient(#ffeee6, pink)
        border-box, no-repeat center center;
    background-size:cover;
    grid-template-columns: minmax(20px, 400px) minmax(20px, 400px);
    justify-content: center;
    color: #000;
}
.links a{    
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}
.links li{
    list-style-type: none;
    height: 50px;
    width: 50px;
    padding-left: 60px;
    padding-top: 13px;
}
li.github {
    background: url('/img/github.png') no-repeat left top;
}
li.fcc {
    background: url('/img/fcc.png') no-repeat left top;
}
li.codewars {
    background: url('/img/codewars.png') no-repeat left top;
}
li.repo {
    background: url('/img/github.png') no-repeat left top;
}
.github:hover {
  transform: scale(.99);
}
.fcc:hover {
  transform: scale(.99);
}
.codewars:hover {
  transform: scale(.99);
}
.repo:hover {
  transform: scale(.99);
}
.footer > div{
    padding: 5px;
}
.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    grid-column: 1/-1;
}
a {
    text-decoration: none;
    color: #000;
}
.button{
  background-color: deeppink;
  border: 2px solid;
  margin: auto;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 5px;
}
.button:hover{
    transform: scale(1.1);
}

#codepen {
    border-radius: 10px;
}

/* IMAGE CAROUSEL*/
#carousel {
    max-width: 1200px;
    max-height: auto;
    position: relative; 
    margin: auto;
    background: linear-gradient(#ffeee6, pink, #ffeee6)
        border-box, no-repeat center center;
    background-size:cover;
    border-radius: 10px;  

    }
    #img { 
    max-width: 50%;
    display: block;
    margin: auto;
    max-height: inherit; 
    border-style: none;
    border-radius: 10px;
    }
    #button {
        display: flex;
        justify-content: center;
    }
    #buttonNext:hover, #buttonBack:hover, #buttonPause:hover, #buttonPlay:hover{
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.8);
    color: white;
    }
    .buttonSelected{
    background-color: rgba(0,0,0,0.8) !important;
    color: white !important;
    }
    #buttonNext, #buttonBack, #buttonPause, #buttonPlay{
    background-color: rgba(255, 20, 147, 0.1);
    border: 2px solid;
    color: black;
    padding: 3px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;    
    transition: 0.6s ease;
    font-weight: bold;
    margin: 3px;
    }


/*TABLET MEDIA QUERY*/
@media screen and (max-width: 950px){
    .wrapper {
        grid-template-areas: 
        "featuredMain featuredMain featuredMain"
        "contentMain contentMain contentSub"
    }
    .sub-featured {
    grid-template-columns: repeat(3, 1fr);
    }
    .nav-items {
    grid-column: 1/5;
    text-align: center;
    }
    .logo{
        grid-column: 1/5;
        text-align: center;
    }
    .nav-wrapper{
        margin-top: 0;
    }
}

/*MOBILE MEDIA QUERY*/

@media screen and (max-width: 690px){
    .logo{
        grid-column: 1/3;
    }
    .nav-items{
        grid-column: :1/5;
        text-align: center;
    }
    .nav-wrapper ul{
        padding: 0;
        margin: 0;
    }
    .nav-wrapper ul li{
        display: block;
    }
    .wrapper{
        grid-template-areas: 
            "featuredMain featuredMain featuredMain"
            "contentMain contentMain contentMain"
    }
    .footer > div{
        grid-column: 1/-1;
    }
    .featured h1{
        font-size: 30px;
    }
}